<section class="food-section">
    <div class="table-header">
            <p class="p1">Food</p>
            <p class="p2">Measurement Unit</p>
            <p class="p3">Unit Price</p>
            <p class="p4">Quantity</p>
            <p class="p5">Action</p>
    </div>
    <ul class="table-data">
    <%@foods.each do |food|%>
      <li>
            <div><%= food.name %></div>
            <div><%= food.measurement_unit %></div>
            <div>$<%= food.price %></div>
            <div><%= food.quantity %>g</div>
            <button>Delete</button>
    
      </li>
    <%end%>
    </ul>
</section>

<%= link_to  "Add New Food", new_user_food_path%>

<table>
    <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    <% @foods.each do |food|%>
        <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td><%= food.quantity %></td>
            <td><%= link_to "Delete" %></td>
        </tr>
    <%end%>
</table>